
/**
 * 1. Vertically align indicators
 * 2. Prevent interaction conflict.
 */

.indicators {
  display: flex; /* 1 */
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  height: 100%;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center; /* 1 */
  pointer-events: none; /* 2 */
  opacity: 0;
}

/**
 * @visible
 */

.indicators.visible {
  opacity: 1;
}

/**
 * @deg180
 */

.deg180 .indicators {
  left: auto; right: 0;
  transform: rotate(0deg);
}

/** Indicators
 ---------------------------------------------------------*/

.indicators li {
  height: 1em;
  width: 1em;
  font-size: 18px;
  margin-bottom: 1.2rem;
  border-radius: 4px;
  text-align: center;
  background-color: #FFFFFF;
  color: #008EAB;
  opacity: 0;
}

/**
 * @off
 */

.indicators[hdr=off] .indicator_hdr,
.indicators[timer=off] .indicator_timer,
.indicators[geotagging=off] .indicator_geotagging {
  opacity: 0.2;
}

 /**
  * @on 
  */
.indicators[hdr=on] .indicator_hdr,
.indicators[timer='3secs'] .indicator_timer,
.indicators[timer='5secs'] .indicator_timer,
.indicators[timer='10secs'] .indicator_timer,
.indicators[geotagging=on] .indicator_geotagging {
  opacity: 1;
}

/** Indicator Battery
 ---------------------------------------------------------*/

.indicators .indicator_battery {
   opacity: 0;
   color: #D92E2E; 
   font-size: 25px;
   background-color: transparent;
}

.indicators[battery='15'] .indicator_battery,
.indicators[battery='10'] .indicator_battery{
  opacity: 1;
}

.indicators[battery='6'] .indicator_battery{
  opacity: 1;
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}
@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
