
.indicator {
  z-index: 10;
  position: absolute;
  top: 40%;
  left:3%;
  margin: 0px ;
  padding: 0px ;
  border:none;
  background: transparent;
}
.indicator[data-orientation='180'] {
  top:40%;
  left: 90%;
  transform:rotate(180deg);
}

.indicator ul {
  border:none;
  margin:0;
  padding: 0;
  background: transparent;
}
.indicator li {
  height: 3.0rem;
  width: 3.0rem;
  background-image: url(images/Viewfinder-Indicator-Underlay.svg);
  background-size: 40px 40px;
  border-radius: 20%;
  background-position: center center;
  background-repeat: no-repeat;
  list-style: none;
  opacity: 1;
  margin-bottom:12px;
  padding: 0;
}


.batteryStatus[data-orientation='180'] {
  transform:rotate(0deg);
} 
.batteryStatus{
  opacity: 0.8;
  font-size: 40px;
  color:#D92E2E;
}




.batteryStatus[data-value='6']{
  
  transition: background-image 2s ease-in-out;
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}



@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}
